/* reset */
@import "reset.css";
/* component */
@import "component/header.css";
@import "component/advertise.css";
@import "component/text.css";
@import "component/postcomponent.css";
@import "component/nav.css";
@import "component/communityicon.css";
@import "component/able.css";
@import "component/nomobile.css";

/* screen */
@import "screen/main.css";
@import "screen/comunity.css";
@import "screen/board.css";
@import "screen/channel.css";
@import "screen//user.css";
* {
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Nanum Gothic", sans-serif;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 0 10px 0 20px;
}

.displaynone {
  opacity: 0;
  visibility: hidden;
}
