.recent-upload__list {
  display: flex;
  width: 100%;
}

.recent-upload__image {
  width: 100%;
  margin-right: 10px;
}

.recent-upload__image img {
  width: 100%;
  border-radius: 15px;
  margin: 0px 0 5px 0px;
}
.recent-upload__image p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  margin-left: 5px;
}
.recent-upload__image h5 {
  font-size: 13px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  margin-left: 5px;
}

.space {
  margin-top: 50px;
}
