.user-name {
  display: flex;
  align-items: last baseline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.user-name h1 {
  width: 50%;
  font-size: 35px;
  padding: 45px 0px;
}
.user-info {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: end;
  color: rgba(0, 0, 0, 0.4);
}
.user-info h4 {
  margin-left: 15px;
}

.user-setting__list {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.user-setting__list span:first-child {
  width: 5%;
  font-size: 20px;
}
.user-setting__list h1 {
  width: 90%;
  font-size: 20px;
  padding: 0px 15px;
}
.user-setting__list h6 {
  width: 5%;
  font-size: 20px;
  text-align: end;
  color: rgba(0, 0, 0, 0.4);
}

.user-service {
  display: flex;
  margin-top: 30px;
}

.user-setting__list:first-child:hover span,
.user-setting__list:nth-child(2):hover span,
.user-setting__list:nth-child(3):hover span,
.user-setting__list:nth-child(4):hover span,
.user-setting__list:last-child:hover span {
  color: #4fa5ad;
  transition: color 0.5s ease-in-out;
}
